{{define "sidebar"}}
<aside class="app-sidebar">
  <nav>
    <h2 class="nav-heading">
      <a href="/">Softwarecraft</a>
    </h2>
    <menu>
      <li class="nav-item">
        <a class="nav-item-link" href="/challenges">
          <i class="bx bx-bulb"></i>
          Challenges
        </a>
      </li>
    </menu>
  </nav>

  <form method="POST" action="/logout" class="logout">
    <button type="submit">
      <i class='bx bx-log-out bx-lg'></i>
    </button>
  </form>
  </menu>
</aside>
{{end}}
